@using DBModels.Models.ManyToManyLinks
@model List<InsRuleTariffLink>

<div class="form-group" style="min-height: 200px; max-height: 300px; border: 1px lightgrey solid; padding: 1px; overflow: auto">
    @{
        var counter = 1;
        var readOnly = ViewData["ReadOnly"] as bool?;
    }
    <input id="isReadOnly" type="hidden" value="@readOnly.ToString()"/>
    @foreach (var link in Model)
    {
        <div class="row_div" onclick="ParameterClick(this, '@link.InsRuleId')">
            <div style="float: left; position: absolute; top: 9px;">
                <label style="margin-right: 10px">@counter.</label>
                <label>@link.InsRule.Name</label>
            </div>
            @if (readOnly == null || !(bool)readOnly)
            {
                <div style="position: absolute; right: 10px; top: 5px">
                    <a asp-controller="InsuranceRules" asp-action="Edit" asp-route-id="@link.InsRuleId" style="font-size: 0">
                        <img src="~/images/Icons/edit_param.png" alt="Создать папку" class="small-button-img" />
                    </a>
                    <a style="margin-left: 10px; font-size: 0" asp-controller="InsuranceRules" asp-action="Delete" asp-route-id="@link.InsRuleId">
                        <img src="~/images/Icons/del_param.png" alt="Создать папку" class="small-button-img" />
                    </a>
                </div>
            }
        </div>
        counter++;
    }
</div>

<script>
    function ParameterClick(div, ruleId) {
        if ($("#isReadOnly").val() === "True") {
            return;
        }
        var elements = $("#parametersList").children();
        $.each(elements, function () {
            if (this !== div) {
                this.style.backgroundColor = "lavender";
            }
        });
        if (div.style.backgroundColor === "lavender") {
            div.style.backgroundColor = "cornflowerblue";
        } else {
            div.style.backgroundColor = "lavender";
        }

        $.get("/InsuranceRules/SelectUnselectRule/" + ruleId, null);
    }
</script>
