@model List<DBModels.Models.LimitListItem>


<div id="limitList" class="form-group" style="min-height: 200px; max-height: 300px; border: 1px lightgrey solid; padding: 1px; overflow: auto">
    @{
        var counter = 1;
    }
    @foreach (var item in Model)
    {
    <div style="width: 100%; height: 40px; border: 1px lightgrey solid; background: lavender; padding-left: 10px; padding-right: 10px; position: relative">
        <div style="float: left; position: absolute; top: 9px;">
            <label style="margin-right: 10px">@counter.</label>
            <label>@item.Name</label>
        </div>
        <div style="float: right; position: relative; top: 9px; right: 150px">
            <label style="margin-right: 10px">Значение: </label>
            <label>@item.Value</label>
        </div>
        <div style="position: absolute; right: 10px; top: 5px">
            <a asp-controller="LimitListItems" asp-action="Edit" asp-route-id="@item.Id">
                <img src="~/images/Icons/edit_param.png" alt="Редактировать" class="small-button-img" style="margin-top: 0" />
            </a>
            <a style="margin-left: 10px;" asp-controller="LimitListItems" asp-action="Delete" asp-route-id="@item.Id">
                <img src="~/images/Icons/del_param.png" alt="Удалить" class="small-button-img" style="margin-top: 0" />
            </a>
        </div>
    </div>
        counter++;
    }
</div>