@model DBModels.Models.ProductParameter

@{
    ViewData["Title"] = "Новый параметр продукта";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>

    <h4>Параметр продукта</h4>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <form asp-action="Create" class="create_update_form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input id="name" asp-for="Name" class="form-control" onchange="SaveTempData()" style="width: 500px" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidFrom" class="control-label" style="width: 150px"></label>
                    <input asp-for="ValidFrom" class="form-control" style="width: 160px" onchange="SaveTempData()" type="date" id="validFromDt">
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValidTo" class="control-label" style="width: 150px"></label>
                    <input asp-for="ValidTo" class="form-control" style="width: 160px" onchange="SaveTempData()" type="date" id="validToDt" />
                    <span asp-validation-for="ValidTo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataType" class="control-label" style="width: 220px"></label>
                    <select id="dataType" asp-for="DataType" asp-items="Html.GetEnumSelectList<DataTypes>()" onchange="SaveTempData()" class="form-control" style="width: 150px"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IsRequiredForCalc" class="control-label" style="width: 220px"></label>
                    <input id="calcRequired" asp-for="IsRequiredForCalc" onchange="SaveTempData()" style="vertical-align: top" />
                </div>
                <div class="form-group">
                    <label asp-for="IsRequiredForSave" class="control-label" style="width: 220px"></label>
                    <input id="saveRequired" asp-for="IsRequiredForSave" onchange="SaveTempData()" style="vertical-align: top" />
                </div>
                <div class="form-group">
                    <label asp-for="Order" class="control-label" style="float: left; width: 220px; height: 30px; margin-top: 5px"></label>
                    <input asp-for="Order" id="order" min="1" value="1" class="form-control" onchange="SaveTempData()" type="number" style="width: 60px; text-align: right" />
                </div>
                <div class="form-group">
                    <label asp-for="GroupId" class="control-label" style="width: 220px"></label>
                    <select asp-for="GroupId" id="groupId" asp-items="@ViewData["ParamGroups"] as SelectList" onchange="SaveTempData()" class="form-control" style="width: 150px"></select>
                </div>
                <div class="form-group">
                    <label>
                        Лимиты значений
                        <a id="add-limit" asp-controller="ValueLimits" asp-action="Create">
                            <img src="~/images/Icons/add_param.png" class="small-button-img" style="margin: 2px; margin-left: 28px" alt="" />
                        </a>
                        @if (Model.Limit != null)
                        {
                            <a asp-controller="ValueLimits" asp-action="Edit">
                                <img src="~/images/Icons/edit_param.png" class="small-button-img" style="margin: 2px" alt="" />
                            </a>
                            <a asp-controller="ValueLimits" asp-action="Delete">
                                <img src="~/images/Icons/del_param.png" class="small-button-img" style="margin: 2px" alt="" />
                            </a>
                        }
                        else
                        {
                            <a>
                                <img src="~/images/Icons/edit_param_gray.png" style="margin: 2px; width: 25px; height: 25px" alt="" />
                            </a>
                            <a>
                                <img src="~/images/Icons/del_param_gray.png" style="margin: 2px; width: 25px; height: 25px" alt="" />
                            </a>
                        }
                    </label>
                    @if (Model.Limit == null)
                    {
                        <div style="border: lightgrey groove thin; border-radius: 3px; box-shadow: 3px 3px 5px darkgrey; width: 500px; padding: 10px">
                            <label>Нет ограничений по значению</label>
                        </div>
                    }
                    else
                    {
                        <div style="border: lightgrey groove thin; border-radius: 3px; box-shadow: 3px 3px 5px darkgrey; width: 500px; padding: 10px">
                            <div>
                                <label asp-for="Limit.Name" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.Name</label>
                            </div>
                            <div>
                                <label asp-for="DataType" class="control-label" style="width: 180px"></label>
                                <select asp-for="DataType" disabled="disabled" asp-items="Html.GetEnumSelectList<DataTypes>()" class="form-control" style="width: 150px"></select>
                            </div>
                            <div>
                                @if (Model.Limit.ParameterDataType == (int)DataTypes.Date)
                                {
                                    <div>
                                        <label asp-for="Limit.DateValueFrom" class="control-label" style="width: 180px"></label>
                                        <label>@Model.Limit.DateValueFrom</label>
                                    </div>
                                    <div>
                                        <label asp-for="Limit.DateValueTo" class="control-label" style="width: 180px"></label>
                                        <label>@Model.Limit.DateValueTo</label>
                                    </div>
                                }
                                else if (Model.Limit.ParameterDataType == (int)DataTypes.Number)
                                {
                                    <div>
                                        <label asp-for="Limit.IntValueFrom" class="control-label" style="width: 180px"></label>
                                        <label>@Model.Limit.IntValueFrom</label>
                                    </div>
                                    <div>
                                        <label asp-for="Limit.IntValueTo" class="control-label" style="width: 180px"></label>
                                        <label>@Model.Limit.IntValueTo</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-default" />
                    <a asp-action="GoBack">
                        <input class="btn btn-default" value="Отменить и выйти" />
                    </a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
<script>
    function SaveTempData() {
        $.ajax({
            url: "/ProductParameters/SaveTempData",
            type: "post",
            data: {
                dataType: $("#dataType").val(),
                name: $("#name").val(),
                dateFrom: $("#validFromDt").val(),
                dateTo: $("#validToDt").val(),
                requiredForSave: $("#saveRequired").val(),
                requiredForCalc: $("#calcRequired").val(),
                groupId: $("#groupId").val(),
                order: $("#order").val()
            },
            success: function () { }
        });
    }
</script>
