@model DBModels.Models.ProductParameter

@{
    ViewData["Title"] = "Удаление параметра продукта";
}

    <h3>Вы уверены, что хотите удалить этот параметр продукта?</h3>
    <div style="padding-bottom: 20px">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input id="name" asp-for="Name" class="form-control" style="width: 500px" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="ValidFrom" class="control-label" style="width: 150px"></label>
            <input asp-for="ValidFrom" class="form-control" style="width: 160px" type="date" id="validFromDt" disabled="disabled">
        </div>
        <div class="form-group">
            <label asp-for="ValidTo" class="control-label" style="width: 150px"></label>
            <input asp-for="ValidTo" class="form-control" style="width: 160px" type="date" id="validToDt" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="DataType" class="control-label" style="width: 220px"></label>
            <select id="dataType" asp-for="DataType" asp-items="Html.GetEnumSelectList<DataTypes>()" disabled="disabled" class="form-control" style="width: 150px"></select>
        </div>
        <div class="form-group">
            <label asp-for="IsRequiredForCalc" class="control-label" style="width: 220px"></label>
            <input id="calcRequired" asp-for="IsRequiredForCalc" style="vertical-align: top" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="IsRequiredForSave" class="control-label" style="width: 220px"></label>
            <input id="saveRequired" asp-for="IsRequiredForSave" style="vertical-align: top" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="Order" class="control-label order_label"></label>
            <input id="order" asp-for="Order" min="1" class="form-control" type="number" style="width: 60px; text-align: right" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="GroupId" class="control-label" style="width: 220px"></label>
            <select asp-for="GroupId" id="groupId" asp-items="@ViewData["ParamGroups"] as SelectList" disabled="disabled" class="form-control" style="width: 150px"></select>
            @Html.HiddenFor(x => x.GroupId)
        </div>
        <div class="form-group">
            <label>
                Лимиты значений
            </label>
            @if (Model.Limit == null)
            {
                <div class="border_box" style="width: 500px">
                    <label>Нет ограничений по значению</label>
                </div>
            }
            else
            {
                <div class="border_box" style="width: 700px">
                    <div>
                        <label asp-for="Limit.Name" class="control-label" style="width: 180px"></label>
                        <label>@Model.Limit.Name</label>
                    </div>
                    <div>
                        <label asp-for="DataType" class="control-label" style="width: 180px"></label>
                        <select asp-for="DataType" disabled="disabled" asp-items="Html.GetEnumSelectList<DataTypes>()" class="form-control" style="width: 150px"></select>
                    </div>
                    <div>
                        @if (Model.Limit.ParameterDataType == (int)DataTypes.Date)
                        {
                            <div>
                                <label asp-for="Limit.DateValueFrom" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.DateValueFrom</label>
                            </div>
                            <div>
                                <label asp-for="Limit.DateValueTo" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.DateValueTo</label>
                            </div>
                        }
                        else if (Model.Limit.ParameterDataType == (int)DataTypes.Number)
                        {
                            <div>
                                <label asp-for="Limit.IntValueFrom" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.IntValueFrom</label>
                            </div>
                            <div>
                                <label asp-for="Limit.IntValueTo" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.IntValueTo</label>
                            </div>
                        }
                        else if (Model.Limit.ParameterDataType == (int)DataTypes.String)
                        {
                            <div>
                                <label asp-for="Limit.StringValue" class="control-label" style="width: 180px"></label>
                                <label>@Model.Limit.StringValue</label>
                            </div>
                        }
                        else if (Model.Limit.ParameterDataType == (int)DataTypes.List)
                        {
                            <label>Количество элементов в списке: @Model.Limit.LimitListItems.Count</label>
                            <label>Для просмотра\редактирования элементов используйте режим редактирования лимита</label>
                        }
                    </div>
                </div>
            }
        </div>

        <form asp-action="Delete" style="margin-top: 50px">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-default" />
            <a asp-action="GoBack" asp-route-parameterId="@Model.Id">
                <input class="btn btn-default" value="Отменить удаление" />
            </a>
        </form>
    </div>
