@model IEnumerable<DBModels.Models.ParameterGroup>
@{
    ViewData["Title"] = "Группы параметров";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" />
</head>
<body>
    <p style="margin-top: 20px">
        <a asp-controller="ParameterGroups" asp-action="Create">
            <img src="~/images/Icons/add_param.png" alt="Добавить группу параметров" class="small-button-img" />
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.CanRepeat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <input id="calcRequired" asp-for="@item.CanRepeat" style="vertical-align: top" disabled="disabled" />
                    </td>
                    <td style="width: 90px; align-content: right">
                        <a asp-controller="ParameterGroups" asp-action="Edit" asp-route-id="@item.Id">
                            <img src="~/images/Icons/edit_param.png" alt="Редактировать группу параметров" class="small-button-img" />
                        </a>
                        <a style="margin-left: 10px;" asp-controller="ParameterGroups" asp-action="Delete" asp-route-id="@item.Id">
                            <img src="~/images/Icons/del_param.png" alt="Удалить группу параметров" class="small-button-img" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
